* {
  /* font-family: 'roboto_condensedbold', arial; */
  font-family: arial;
}

html {
  margin: 0;
}
p {
  font-style: italic;
  color: #5c626d;
}
.topbar {
}
.container {
  max-width: 1140px;
  margin-left: 16% auto;
  margin-right: 16% auto;
}
.small {
  font-size: 0.65rem;
}
img {
  border-radius: 25px;
}
.blockquote-footer {
  color: #7cc576;
}

#jumbotronTop {
  background-image: url('../img/banner1.jpg');
  background-size: cover;
}
#jumbotronMiddle {
  border-radius: 25px;
  background-image: url(https://via.placeholder.com/500x1400);
}

#jumbotronEnd {
  background-color: #7cc576;
}
#black-footer {
  font-size: 14px;
}
